@{
    var identity = (System.Security.Claims.ClaimsPrincipal)System.Threading.Thread.CurrentPrincipal;
    var role = identity.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}
@if (role == "1")
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Estrategia de Cobranza", "Index", "Admin", new { area = "Administrator" }, null)</li>
        <li>@Html.ActionLink("Clientes", "Index", "Client", new { area = "Administrator" }, null)</li>
        <li>@Html.ActionLink("Usuarios", "Index", "User", new { area = "Administrator" }, null)</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Gestión de Cobranza", "Index", "Home")</li>
        <li>@Html.ActionLink("Usuarios", "Index", "User", new { area = "Administrator" }, null)</li>
    </ul>
}